:root{
    --width: 100px;
    --height: 100px;
    --color: #000;
    --velocity: 0.3s;
}

/* contexto */
.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;    
    .centered{
        width: var(--width);
        height: var(--height);
        margin: auto;
    }
}
/* contexto */

/* burguer */
.button-burguer{
    position: relative;
    width: var(--width);
    height: var(--height);
    cursor: pointer;
    transition: all var(--velocity) ease-in-out;
    .line{
        position: absolute;
        background-color: var(--color);
        height: 15%;
        width: 100%;
        transition: all var(--velocity) ease-in-out;
        &:nth-child(1){
            top: 0%;
        }
        &:nth-child(2){
            top: calc(50% - 7.5%);
        }
        &:nth-child(3){
            top: calc(100% - 15%);
        }
    }
    &.open{
        transform: rotateY(180deg);
        .line{
            &:nth-child(1){
                transform: rotate(45deg) translate(30%, 198%);
            }
            &:nth-child(2){
                opacity: 0;
            }
            &:nth-child(3){
                transform: rotate(-45deg) translate(30%, -198%);
            }
        }
    }
}
/* burguer */